body {
    margin: 0;
    overflow: hidden;
    background-color: #000000;
    color: white;
    font-family: 'Courier New', monospace;
    -webkit-tap-highlight-color: transparent;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
    touch-action: none;
}